.projects{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 20px;
        @media (min-width: 925px) {
            // flex-direction: row;
            // flex-wrap: nowrap;
            display: grid;
            grid-template-columns: 1fr 1fr;
    }
    
    // & .card {
    //     width: 20%;
    // }
}

